#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.people-list {
    list-style: circle;
    display: flex;
    align-items: flex-start; /* align children to the top */
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.card-text {
    border-top: 1rem;
    display: inline;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.scientist-color {
    color: #007bff;
}

.famouser-color {
    color: #efc829;
}

button {
    padding: 6px 12px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #e9ecef;
}

button.active-btn {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

